<%- include("../../partials/finance/header.ejs")%>

<div class="row row-cols-1 row-cols-md-12 g-4 financeCard">
    <div class="col-6">
      <div class="card h-100">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 

<%- include("../../partials/finance/chart.ejs")%>
<%- include("../../partials/finance/footer.ejs")%>
