<%- include("../../partials/landing/header.ejs")%>


    <div class="container">
        <div class="text-center py-5 m-auto">
            <h1 class="display-2 mb-3">
                Lorem amet consectetur
            </h1>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat.</p>
        </div>
        <section class="mb-5">
            <!-- Feature One -->
            <div class="row row-cols-1 row-cols-md-3 g-4 text-start mb-5">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Exercitationem dolore quam voluptatum earum illum! Repellendus exercitationem obcaecati
                                totam eligendi. Iste iure unde placeat, minus velit ipsa perferendis quibusdam assumenda
                                nesciunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque amet
                                qui sit tempore eius. Est, iure magni blanditiis iste inventore accusamus consequatur.
                                Ut itaque quam fuga perferendis quisquam et quasi!</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Two -->
            <div class="row row-cols-1 row-cols-md-3 g-4 text-start mb-5">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Exercitationem dolore quam voluptatum earum illum! Repellendus exercitationem obcaecati
                                totam eligendi. Iste iure unde placeat, minus velit ipsa perferendis quibusdam assumenda
                                nesciunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque amet
                                qui sit tempore eius. Est, iure magni blanditiis iste inventore accusamus consequatur.
                                Ut itaque quam fuga perferendis quisquam et quasi!</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Three -->
            <div class="row row-cols-1 row-cols-md-3 g-4 text-start mb-5">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Exercitationem dolore quam voluptatum earum illum! Repellendus exercitationem obcaecati
                                totam eligendi. Iste iure unde placeat, minus velit ipsa perferendis quibusdam assumenda
                                nesciunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque amet
                                qui sit tempore eius. Est, iure magni blanditiis iste inventore accusamus consequatur.
                                Ut itaque quam fuga perferendis quisquam et quasi!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include("../../partials/landing/footer.ejs")%>