<%- include("../../partials/landing/header.ejs")%>


<div id='mainHeader'>
    <div class="backroundColor">
        <h1 class="display-2">Jumbotron</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elite</p>
        <button class="btn btn-primary">Call Now</button>
    </div>
</div>

<div class="row g-4 m-3">
    <div class="col-md-4">
      <div class="card h-100">
        <img src="https://images.unsplash.com/photo-1587293852726-70cdb56c2866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" class="card-img-top" alt="bottom-view warehouse">
        <div class="card-body">
          <h5 class="card-title">Custom Packaging</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequatur earum aliquam dolorum provident hic error facilis veritatis non perferendis beatae, optio inventore nesciunt autem, possimus itaque, consequuntur praesentium esse!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="#">Learn More</a></small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="https://images.unsplash.com/photo-1532635042-a6f6ad4745f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxvZ2lzdGljc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Cold Storage">
        <div class="card-body">
          <h5 class="card-title"> Warehouse Delivery </h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates dolor laboriosam placeat nemo, deserunt eius, eum omnis recusandae quas veritatis pariatur ea. Corporis dolores blanditiis iure nesciunt laborum fugit.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="#">Learn More</a></small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="https://images.unsplash.com/photo-1587149185211-28a2ef4c9a10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" class="card-img-top" alt="Shipping Containers">
        <div class="card-body">
          <h5 class="card-title">Delivery Anyday. Anywhere</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis totam molestias nesciunt accusamus fugiat expedita commodi, consequuntur blanditiis itaque dolorum porro excepturi voluptatum nihil earum distinctio alias, quaerat sed voluptates?</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="#">Learn More</a></small>
        </div>
      </div>
    </div>
  </div>

<%- include("../../partials/landing/footer.ejs")%>
