<%- include("../../partials/landing/header.ejs")%>


<div class="container px-4 my-5">
    <div class="mb-4">
        <h1 class="display-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h1>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, laudantium minus! </p>
    </div>
    <div class="row g-5">
      <div class="col-12 col-md-4 text-center">
       <div class="p-3 border bg-light py-5">
           <h5 class="display-5"> Pricing One</h5>
           <h1 class="dipslay-1 fw-bold">00.00</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quidem voluptatum quisquam fugit deleniti aut.</p>
           <ul class="list-group list-group-flush my-5">
            <li class="list-group-item bg-light">An item</li>
            <li class="list-group-item bg-light">A second item</li>
            <li class="list-group-item bg-light">A third item</li>
            <li class="list-group-item bg-light">A fourth item</li>
            <li class="list-group-item bg-light">And a fifth one</li>
          </ul>
          <a  href="#" class="btn btn-success d-block">Success</a>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="p-3 border bg-light py-5">
            <h5 class="display-5"> Pricing One</h5>
            <h1 class="dipslay-1 fw-bold">00.00</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quidem voluptatum quisquam fugit deleniti aut.</p>
            <ul class="list-group list-group-flush my-5">
             <li class="list-group-item bg-light">An item</li>
             <li class="list-group-item bg-light">A second item</li>
             <li class="list-group-item bg-light">A third item</li>
             <li class="list-group-item bg-light">A fourth item</li>
             <li class="list-group-item bg-light">And a fifth one</li>
           </ul>
           <a  href="#" class="btn btn-success d-block">Success</a>
         </div>
       </div>
       <div class="col-12 col-md-4 text-center">
        <div class="p-3 border bg-light py-5">
            <h5 class="display-5"> Pricing One</h5>
            <h1 class="dipslay-1 fw-bold">00.00</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quidem voluptatum quisquam fugit deleniti aut.</p>
            <ul class="list-group list-group-flush my-5">
             <li class="list-group-item bg-light">An item</li>
             <li class="list-group-item bg-light">A second item</li>
             <li class="list-group-item bg-light">A third item</li>
             <li class="list-group-item bg-light">A fourth item</li>
             <li class="list-group-item bg-light">And a fifth one</li>
           </ul>
           <a  href="#" class="btn btn-success d-block">Success</a>
         </div>
       </div>
    </div>
  </div>

<%- include("../../partials/landing/footer.ejs")%>
