    
<div class="bg-dark navbar-dark py-5 footer">
    <div class="row px-5 text-center">
        <div class="col-md-3 col-12">
            <p class="lead text-muted fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex alias distinctio laudantium? Fugiat voluptates at aliquid minus.</p>
        </div>
        <div class="col-md-3 col-4">
            <ul>
                <li class="text-muted">1</li>
                <li class="text-muted">2</li>
                <li class="text-muted">3</li>
                <li class="text-muted">4</li>
                <li class="text-muted">5</li>
            </ul>
        </div>
        <div class="col-md-3 col-4">
            <ul>
                <li class="text-muted">1</li>
                <li class="text-muted">2</li>
                <li class="text-muted">3</li>
                <li class="text-muted">4</li>
                <li class="text-muted">5</li>
            </ul>
        </div>
        <div class="col-md-3 col-4">
            <ul>
                <li class="text-muted">1</li>
                <li class="text-muted">2</li>
                <li class="text-muted">3</li>
                <li class="text-muted">4</li>
                <li class="text-muted">5</li>
            </ul>
        </div>
      </div>
</div>



</body>
</html>